@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Press Start 2P', cursive;

}

header {
    background-color: #9AE17F;

}

nav {
    background-color: #62C370;
    font-size: medium;
}

main {
    background-image: url(../assets/images/fondopokemon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

footer {
    margin: 4px solid #62C370;
    height: 10vh;
    background-color: #9AE17F;
}

.pokemon {
    transition:all 0.6s ease;
}

.pokemon:hover {
    transform: scale(1.2);
}

.botonPokemon {
    background-color: wheat;
    color: black;
    border: 2px solid gray;
    transition: all 0.6s ease;
    font-size: x-small;
    height: 45px;
}

.botonPokemon:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
    
}